*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// List
.list {
  list-style: none;
}

.list--inline {
  display: inline-flex;

  & li:not(:last-child) {
    margin-right: 2.3rem;
  }
}

// Image
img {
  width: 100%;
}
