// Color Pallete
$primary-color: #2081e2;
$secondary-color: #5aabfc;
$accent-color: #0ca737;

$heading-color: #151b52;
$text-color: #666;
$text-color-light: #999;
$text-color-dark: #333;

$black-color: #000;
$white-color: #fff;
