.nav {
  flex-wrap: wrap;
  font-size: 1.6rem;
  color: $primary-color;
  padding: 2rem 0;
  transition: all 0.3s;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 50px;
  }

  & &__list {
    max-height: 0;
    opacity: 1;
    display: flex;
    align-items: center;
    align-self: center;
    transition: all 0.3s;

    & .list__item {
      display: none;
    }
  }
}

.nav--expanded .nav__list {
  margin-top: 2rem;
  max-height: 100vh;
  opacity: 1;
  display: block;
  & .list__item {
    display: block;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #eee;
  }
}

.nav .nav__icon {
  color: $primary-color;
  padding: 0;
  font-size: inherit;
  margin-left: 1rem;
}

.item-group {
  display: flex;
  text-align: center;
  justify-content: center;
}

.list__item:hover {
  color: $heading-color;
  background-color: $white-color;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;

    & &__list {
      display: inline-flex;
      width: auto;

      & .list__item {
        display: block;
        padding: 0;
        text-align: center;
        border: none;
      }
    }

    & &__toggler {
      display: none;
    }
  }
}
