// Grid
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Container
.container {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1139px) {
  .container {
    margin: 0 1.5rem;
  }
}

.block {
  margin-top: 7rem;
  margin-bottom: 7rem;
  text-align: center;
  padding: 3rem 0;
}
.block__header {
  margin: 6rem 0;
  & a {
    color: $primary-color;
  }
}
.block__heading {
  text-transform: capitalize;
  margin-bottom: 3rem;
}
.block__header .block__heading::after {
  content: "";
  display: block;
  border-bottom: 3px solid #151b52;
  width: 10%;
  margin: 0 auto;
  margin-top: 3rem;
}

.block__link {
  color: $primary-color;
}
